body{
    background-color: darkgray;
}
h1{
  color: lightblue;
  font-family: georgia;
}

h2{
  color: lightgreen;
  font-family: georgia;
}

.Track-list {
  list-style: none;
  font-family: courier;
}



.col{
  margin-left: 20%;
}

.Playlist  {
  list-style: none;
  font-family: courier, bold;
}

.Track {
  text-align: center;  
}

.Track img {
  width: 100px;
  height: 100px;
  
}



.Track h4 {
  text-transform: capitalize;
  color: yellow;
  font-family:courier;
}
.Track p2 {
  color: red;
  font-family: courier;
}